html {
   scroll-padding-top: 5rem;
}

body {
   height: 100vh;
   margin: 0;
   overflow: auto;
   font-family: Roboto, sans-serif;
   display: flex;
   flex-direction: column;
}

.header {
   display: flex;
   justify-content: center;   
   background-color: rgb(1, 5, 77);
   position: sticky;
   z-index: 10;
   top: 0;
}

.header .container {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   flex: 1;
   max-width: 900px;
   margin-inline: auto;
   padding-inline: 1rem;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

.header_list{
   display: flex;
   margin: 0;
   gap: 1rem;
}

.header_list a {
   text-decoration: none;
   color: white;
   font-size: 1.35rem;
}

.header-socials {
   display: flex;
   align-items: baseline;
   gap: 1rem;
}

.header-socials img{
   width: 1.75rem;
}

.name{
   font-size: 2.75em;
   font-weight: 800;
   flex-shrink: 0;
   margin: 0;
   color: white;
}

.content{
  display: flex;
  flex-direction: column;
  max-width: min(900px, 90%);
  margin-inline: auto;
  flex: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}

#about {
   font-size: 1.3rem;
}

.footer {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 20px;
   background-color: rgb(1, 5, 77);
   padding: 10px;
}

.footer a{
   text-decoration: none;
   color: white;
   font-size: 1em;
}

.email-icon {
   width: 1.2em;
}
.email-link {
   display: inline-flex;
   align-items: center;
   gap: 5px;
}

.gh-icon {
   width: 1.2em;
}
.gh-link {
   display: inline-flex;
   align-items: center;
   gap: 5px;
}

.linkedin-icon {
   width: 1.5em;
}
.linkedin-link {
   display: inline-flex;
   align-items: center;
   gap: 5px;
}