html {
   scroll-padding-top: 5rem;
}

body {
   height: 100vh;
   margin: 0;
   overflow: auto;
   font-family: Roboto, sans-serif;
   display: flex;
   flex-direction: column;
}

.header {
   display: flex;
   justify-content: center;   
   background-color: rgb(1, 5, 77);
   position: sticky;
   z-index: 10;
   top: 0;
}

.header .container {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   flex: 1;
   max-width: 900px;
   margin-inline: auto;
   padding-inline: 1rem;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

.header_list{
   display: flex;
   margin: 0;
   gap: 1rem;
}

.header_list a {
   text-decoration: none;
   color: white;
   font-size: 1.35rem;
   background-image: linear-gradient(#ffffff, #ffffff);
   background-repeat: no-repeat;
   background-position: bottom right; /* Initial underline position */
   background-size: 0 1px; /* Underline size (width, height) */
   transition: background-size 0.3s;
}

.header_list a:hover {
   background-position: bottom left; /* Underline position on hover */
   background-size: 100% 1px; /* Make the underline 100% wide */
}

.header-socials {
   display: flex;
   align-items: baseline;
   gap: 1rem;
}

.header-socials img{
   width: 1.75rem;
}

.name{
   font-size: 2.75em;
   font-weight: 800;
   flex-shrink: 0;
   margin: 0;
   color: white;
}

.content{
  display: flex;
  flex-direction: column;
  max-width: min(900px, 90%);
  margin-inline: auto;
  flex: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}

#about {
   font-size: 1.3rem;
}

#research article + article {
    margin-top: 3rem;
}

.research-links{
   display: flex;
   gap: 2rem;
   align-items: flex-start;
}

.research-links a:not(#daoyuan-paper){
   padding: 0.4rem 0.8rem;
   border: 1px solid gray;
   border-radius: 5px;
   text-decoration: none;
   background-color: rgb(63, 100, 174);
   color: white;
   transition: background-color 0.3s ease;
}

.research-links a:not(#daoyuan-paper):hover{
   background-color: rgb(1, 5, 77);
   /* border: 1rem;
   border-color: black; */
}

.research-links a:not(#daoyuan-paper):focus-visible {
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: 3px;
}

.SIMCODES-logo {
   width: 8rem;
   float: left;
   margin: 1rem;
}

#BCS-logo {
   width: 8rem;
   float: left;
   margin: 0.5rem;
}

.email-icon {
   width: 1.2em;
}
.email-link {
   display: inline-flex;
   align-items: center;
   gap: 5px;
}

.gh-icon {
   width: 1.2em;
}
.gh-link {
   display: inline-flex;
   align-items: center;
   gap: 5px;
}

.linkedin-icon {
   width: 1.5em;
}
.linkedin-link {
   display: inline-flex;
   align-items: center;
   gap: 5px;
}